body,
html {
    width: 100%;
    height: 100%;
	font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
	list-style: none;
}

.hidden {
	display: none;
}

.wrapper {
	text-align: center;
}

.fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 70px;
    padding: 15px;
    color: #fff;
    font-size: 13px;
}

.fixed-menu .logo,
.footer-menu .logo {
    position: relative;
}

.fixed-menu .logo img,
.footer-menu .logo img {
    height: 37px;
}

.fixed-menu #menu {
    display: inline-block;
    vertical-align: top;
    padding: 0 25px;
}

.fixed-menu li,
.footer-menu li {
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
    vertical-align: top;
}

.fixed-menu li a {
    padding-top: 13px;
    display: inline-block;
    color: #fff;
}

.fixed-menu .call,
.footer-menu .call {
	display: inline-block;
    vertical-align: top;
}

.fixed-menu .call li i,
.footer-menu .call li i {
	font-size: 22px;
	color: #f2780c;
    padding-right: 5px;
    vertical-align: sub;
}

.fixed-menu .call li i.fa-mobile,
.footer-menu .call li i.fa-mobile {
            transform: skew(20deg);
    -webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);
        -ms-transform: skew(20deg);
}

.fixed-menu .call li .bigger,
.footer-menu .call li .bigger {
	font-size: 1.15em;
}

.fixed-menu .call li img {
	cursor: pointer;
    padding-top: 10px;
    /*display: none;*/
}

.top-block {
	width: 100%;
}

.top-block .logo-bg {
	width: 100%;
	height: 550px;
	background: url(img/header-block.png) 50% no-repeat;
	background-attachment: fixed;
	background-size: cover;
    padding-top: 70px;
}

.top-block .logo-bg img {
    padding-top: 100px;
}

.top-block .black-block {
	width: 100%;
	height: 237px;
	background-color: #000;
	color: #fff;
    padding: 15px;
}

.top-block .black-block img {
    vertical-align: top;
}

.top-block .black-block span {
	font-size: 24px;
    display: inline-block;
    padding: 15px;
}

.top-block .black-block p {
    width: 770px;
    font-size: 16px;
    margin: 0 auto;
    text-align: left;
    padding-top: 20px;
}

.forma-block {
	height: 300px;
	background: url(img/forma-bg.png) 50% no-repeat;
	background-size: cover;
    padding: 40px 10px;
}

.forma-block .forma-text {
	width: 550px;
	color: rgb(51, 51, 51);
	line-height: 1.2;
	text-align: left;
	display: inline-block;
	vertical-align: top;
    margin-right: 40px;
}

.forma-block .forma-text p {
	font-size: 18px;
}

.forma-block .forma-text .big {
	font-size: 22px;
    padding-bottom: 30px;
}

.forma-block form {
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

::-webkit-input-placeholder {
	font-style: italic;
  font-size: 14px;
  font-family: "Arial";
  color: rgb(153, 153, 153);
}

::-moz-placeholder          {
	font-style: italic;
	font-size: 14px;
	font-family: "Arial";
	color: rgb(153, 153, 153);
}

:-ms-input-placeholder      {
	font-style: italic;
	font-size: 14px;
	font-family: "Arial";
	color: rgb(153, 153, 153);
}

.forma-block form #email {
	display: block;
	width: 340px;
	height: 40px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    padding: 10px;
    font-size: 16px;
}

.forma-block form textarea {
	display: block;
	width: 340px;
	height: 90px;
    margin-bottom: 30px;
    border: 1px solid #cccccc;
    padding: 10px;
    font-size: 16px;
}

.forma-block form input[type=submit] {
	display: block;
	width: 244px;
	height: 44px;
	background-color: #f2780c;
	color: #fff;
	outline: none;
	border: none;
	font-size: 14px;
	font-family: "Arial";
	font-weight: bold;
	border-radius: 3px;
	box-shadow: 5px 6px 3px 0px rgba(0, 0, 1, 0.6);
}

.div-title {
	font-size: 22px;
	color: #000;
	margin-bottom: 30px;
}


.napravl {
	position: relative;
	padding: 40px 15px;
}

.napravl .napr-list {
}

.napravl .napr-list li {
	display: inline-block;
	width: calc(33% - 4px);
	max-width: 350px;
	vertical-align: top;
	margin-bottom: 30px;
}

.napravl li img {
}

.napravl li p {
    padding-top: 10px;
}

.partners {
	background-color: #000;
	background-image: url(img/part-bg.png);
	height: 550px;
	color: #fff;
	padding: 40px 15px;
}

.partners .div-title {
	color: #fff;
}

.partners .tabs {
}

.partners .tabs li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: calc(33% - 4px);
	max-width: 330px;
    border: 1px solid #393938;
    cursor: pointer;
}

.partners .tabs li.first-line {
    padding: 5px 10px 20px;
    margin-bottom: 170px;
}

.partners .tabs li.second-line {
    padding: 20px 10px 5px;
}

.partners .tabs li div {
	width: 100%;
	height: 60px;
	background-color: rgb(2, 160, 227);
	box-shadow: 1.805px 2.396px 0px 0px rgba(0, 0, 0, 0.65);
}

.partners .tabs li.active div {
	background-color: #fff;
	color: rgb(2, 160, 227);
}

.partners .tabs li.first-line.active {
    margin-bottom: 155px;
}

.partners .tabs li.active div {
    height: 75px;
}

.partners .tabs li.second-line.active {
    top: -15px;
}

.partners .tabs li.second-line.active div {
    padding-top: 15px;
}

.partners .tabs-panel {
	position: relative;
}

.partners .tabs-panel .info-panel {
	width: 100%;
	max-width: 1000px;
	height: 176px;
	background-color: #fff;
    position: absolute;
    top: -260px;
    color: #000;
}

.why-partners {
	padding: 40px 15px;
}

.why-partners .list-why-we {
	max-width: 1000px;
	margin: 0 auto;
    padding-left: 50px;
}

.why-partners .list-why-we li {
    height: 60px;
	width: calc(50% - 4px);
	background: url(img/why-part-list.png) 0% 0% no-repeat;
	display: inline-block;
	vertical-align: top;
    padding: 0 40px 0 60px;
    text-align: left;
    margin-bottom: 5px;
}

.steps {
	height: 430px;
	width: 100%;
	position: relative;
	padding: 40px 15px;
	background: url(img/steps-bg.png) 50% no-repeat;
	background-size: cover;
}

.steps .div-title {
	color: #fff;
}

.steps img {
	width: 100%;
	max-width: 1000px;
	padding-top: 30px;
}

.steps .list-steps {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 10px;
}

.steps .list-steps li {
	display: inline-block;
	width: calc(20% - 4px);
	vertical-align: top;
	color: #fff;
	font-size: 14px;
}

.steps .list-steps li:nth-child(4),
.steps .list-steps li:nth-child(5) {
	padding-left: 2%;
}

.spheres {
	width: 100%;
	padding: 40px 15px;
}

.spheres .spheres-list {
	max-width: 1000px;
	margin: 0 auto;
}

.spheres .spheres-list li {
	display: inline-block;
	width: 30%;
	vertical-align: top;
    margin: 25px 0;
}

.spheres li p {
	color: rgb(119, 119, 119);
}

.clients {
	width: 100%;
	padding: 40px 15px;
	background-color: #eee;
}

.clients ul {
	max-width: 1000px;
	margin: 0 auto;
}

.clients ul li {
	height: 115px;
	margin-bottom: 1px;
	margin-left: -3px;
	display: inline-block;
	vertical-align: top;
	width: 196px;
	background-color: #fff;
}

.clients ul li img {
	max-width: 100%;
	max-height: 100%;
}

.reviews {
	height: 370px;
	padding: 40px 15px;
	background: url(img/review-bg.png) 50% no-repeat;
	background-size: cover;
}

.reviews .div-title {
	color: #fff;
}

.reviews ul {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
}

.reviews ul li {
	display: inline-block;
	vertical-align: top;
	width: calc(33% - 4px);
	padding-right: 10px;
	text-align: left;
	font-family: "Arial";
}

.reviews li img {
	vertical-align: bottom;
}

.reviews li span {
	font-size: 18px;
	color: rgb(2, 160, 227);
    display: inline-block;
    width: calc(100% - 85px);
    padding-left: 5px;
	vertical-align: bottom;
}

.reviews li p {
	font-size: 14px;
	color: rgb(238, 238, 238);
    padding-top: 17px;
    line-height: 1.2;
}

.consultation {
	height: 400px;
	padding: 50px 15px;
	background: url(img/consultation-bg.png) 50% no-repeat;
	background-size: cover;
}

.consultation .div-title {
	margin-bottom: 0;
}

.consultation p {
	font-size: 18px;
}

.consultation input[type=text] {
	width: 340px;
	height: 42px;
    padding: 10px;
    text-align: center;
	border: 1px solid #05a1e3;
	box-shadow: 2px 2px 0 rgba(0, 0, 1, 0.6);
	margin: 40px 20px 0 0;
}


.consultation input[type=submit] {
	display: block;
	margin: 0 auto;
	width: 244px;
	height: 44px;
	background-color: #f2780c;
	color: #fff;
	outline: none;
	border: none;
	font-size: 14px;
	font-family: "Arial";
	font-weight: bold;
	border-radius: 3px;
	box-shadow: 5px 6px 3px 0px rgba(0, 0, 1, 0.6);
	margin-top: 40px;
}

.footer-menu {
    background-color: #eee;
    width: 100%;
    height: 120px;
    padding: 40px 15px 15px;
    color: #000;
    font-size: 13px;
}

.footer-menu .footer-menu-wrap {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.footer-menu #menu {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 0 50px;
}

.footer-menu li a {
    display: inline-block;
    color: #000;
}

.footer-menu .call {
    padding-right: 15px;
}

.footer-menu .call li {
    display: block;
}

.footer-menu .callback {
	cursor: pointer;
}

.footer {
    background-color: #eee;
    width: 100%;
    height: 45px;
    padding: 15px;
    border-top: 1px solid #aaa;
	font-size: 12px;
	color: rgb(34, 34, 34);
}

.footer p {
	text-align: left;
    max-width: 960px;
    margin: 0 auto;
}




@media screen and (min-width: 1030px) {
	.partners .tabs-panel .info-panel {
    	left: calc(50% - 500px);
	}
}
@media screen and (max-width: 1100px) {
	
}
















